<div class="container">
  <div style="text-align: center; margin: 5%">
    <h1>Lista de Recetas Vencidas</h1>

    <p>Total de Recetas: {{ totalRegistros }}</p>
  </div>

  <form [formGroup]="filtroForm">
    <div class="filtros" style="display: flex; gap: 1rem; margin-bottom: 1rem">
      <!-- Usuario -->
      <mat-form-field style="flex: 1" appearance="fill">
        <mat-label>Filtrar por Usuario</mat-label>
        <mat-select formControlName="usuarioId">
          <mat-option
            *ngFor="let usuario of listaUsuarios"
            [value]="usuario.idUsuario"
          >
            {{ usuario.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>

  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Symbol Column -->
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef>Fecha de inicio</th>
        <td mat-cell *matCellDef="let element">
          {{ element.fechaInicioReceta | date : "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef>Fecha de vencimiento</th>
        <td mat-cell *matCellDef="let element">
          {{ element.fechaFinReceta | date : "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <!-- Descripción Column -->
      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef>Observaciones</th>
        <td mat-cell *matCellDef="let element">
          {{ element.observacionesReceta }}
        </td>
      </ng-container>

      <!-- Usuario Column -->
      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef>Usuario</th>
        <td mat-cell *matCellDef="let element">
          {{ element.usuario?.nombre || "Sin usuario" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [length]="totalRegistros"
      [pageSize]="4"
      [pageSizeOptions]="[4, 8, 10]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
