<div class="container">
  <div style="text-align: center; margin: 5%" *ngIf="!edicion">
    <h1>Registro</h1>
  </div>

  <div style="text-align: center; margin: 5%" *ngIf="edicion">
    <h1>Actualizar</h1>
  </div>

  <div style="text-align: center; margin: 5%">
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field *ngIf="edicion">
        <mat-label>ID</mat-label>

        <input matInput formControlName="id" />
        <mat-error *ngIf="form.get('id')?.hasError('required')">
          El código es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field appearance="fill">
        <mat-label>Rango de fechas</mat-label>
        <mat-date-range-input [rangePicker]="picker" [formGroup]="form">
          <input
            matStartDate
            placeholder="Fecha de inicio"
            formControlName="fechainic"
          />
          <input
            matEndDate
            placeholder="Fecha de fin"
            formControlName="fechafin"
          />
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        <mat-error *ngIf="form.get('fechainic')?.hasError('required')">
          La fecha de inicio es obligatoria.
        </mat-error>
        <mat-error *ngIf="form.get('fechafin')?.hasError('required')">
          La fecha de fin es obligatoria.
        </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Observaciones</mat-label>
        <textarea matInput formControlName="observ"></textarea>
        <mat-error *ngIf="form.get('observ')?.hasError('required')">
          Las observaciones son obligatorias!!
        </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Selecciona un usuario: </mat-label>
        <mat-select formControlName="usua">
          @for (us of listaUsuarios; track us) {
          <mat-option [value]="us.idUsuario">{{ us.nombre }}</mat-option> }
        </mat-select>
        <mat-error *ngIf="form.get('usua')?.hasError('required')">
          El usuario es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Selecciona un diagnóstico: </mat-label>
        <mat-select formControlName="diagn">
          @for (dia of listaDiagnosticos; track dia) {
          <mat-option [value]="dia.idDiagnostico">{{ dia.nombre }}</mat-option>
          }
        </mat-select>
        <mat-error *ngIf="form.get('diagn')?.hasError('required')">
          El diagnóstico es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br />

      <button matButton="elevated">Registrar</button>
    </form>
  </div>
</div>
