<div class="container">
  <div style="text-align: center; margin: 5%">
    <h1>Lista de Medicamentos</h1>
    <!-- Mostrar la cantidad de registros -->
    <p *ngIf="!notResults">Total de Medicamentos: {{ totalRegistros }}</p>
    <p *ngIf="notResults">No se encontraron resultados.</p>
  </div>

  <div>
    <form [formGroup]="form" class="filtros">
      <mat-form-field>
        <mat-label>Buscar Por Nombre</mat-label>
        <input matInput formControlName="nombreBusqueda" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Buscar Por Presentación</mat-label>
        <input matInput formControlName="presentacionBusqueda" />
      </mat-form-field>
    </form>
  </div>

  <div class="card-container">
    <mat-card
      *ngFor="let m of paginatedData()"
      class="med-card"
    >
      <mat-card-header>
        <mat-card-title>{{ m.nombre }}</mat-card-title>
        <mat-card-subtitle>{{ m.presentacion }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p><strong>Descripción:</strong> {{ m.descripcion }}</p>
        <p><strong>Dosis:</strong> {{ m.dosis }} {{ m.unidad_medida }}</p>
        <p><strong>Tipo:</strong> {{ m.tipo_medicamento }}</p>
        <p><strong>Contenido:</strong> {{ m.contenido }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button [routerLink]="['ediciones', m.id_medicamento]">
          <mat-icon>create</mat-icon>
        </button>
        <button mat-icon-button (click)="eliminar(m.id_medicamento)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <!-- Paginador separado -->
  <div class="paginator-container">
    <mat-paginator
      [length]="totalRegistros"
      [pageSize]="3"
      [pageSizeOptions]="[3, 6, 9]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
