<section class="banner" id="banner">
  <div class="banner-content">
    <img src="assets/pildora.png" alt="Píldora" class="banner-logo" />
    <h1 class="banner-title">PILLCONTROL</h1>
  </div>
</section>
<!-- SLOGAN -->
<section class="slogan">
  <div class="slogan-content">
    <h2>¿Problemas al recordar cuándo debes tomar tus medicamentos?</h2>
    <p>
      No te preocupes, PillControl te ayudará a controlar y recibir
      notificaciones para tomarlos a la hora y fecha indicada.
    </p>
  </div>
</section>
<!-- FOOTER -->
<footer>
  <div class="footer-container">
    <small>
      Copyright &copy; 2025 - Universidad Peruana de Ciencias Aplicadas <br />
      Grupo 03 - Proyecto Final AAW <br />
    </small>
  </div>
</footer>
