<div class="container">
  <div style="text-align: center; margin: 5%;">
    <h1>{{ edicion ? 'Editar Farmacia' : 'Registrar Farmacia' }}</h1>
  </div>
  <div style="text-align: center; margin: 5%;">
    <form [formGroup]="form" (ngSubmit)="aceptar()">
      <mat-form-field *ngIf="edicion">
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo" />
        <mat-error *ngIf="form.get('codigo')?.hasError('required')">
          El ID es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br/>

      <!-- Nombre -->
      <mat-form-field>
        <mat-label>Nombre de la Farmacia</mat-label>
        <input matInput formControlName="nombre" />
        <mat-error *ngIf="form.get('nombre')?.hasError('required')">
          El nombre de la farmacia es obligatorio.
        </mat-error>
        <mat-error *ngIf="form.get('nombre')?.hasError('minlength')">
          Debe tener al menos 3 caracteres.
        </mat-error>
        <mat-error *ngIf="form.get('nombre')?.hasError('maxlength')">
          No debe exceder los 50 caracteres.
        </mat-error>
        <mat-error *ngIf="form.get('nombre')?.hasError('pattern')">
          No se permiten solo espacios.
        </mat-error>
      </mat-form-field>
      <br/>

      <!-- Dirección -->
      <mat-form-field>
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="direccion" />
        <mat-error *ngIf="form.get('direccion')?.hasError('required')">
          La dirección es obligatoria.
        </mat-error>
        <mat-error *ngIf="form.get('direccion')?.hasError('minlength')">
          Debe tener al menos 5 caracteres.
        </mat-error>
        <mat-error *ngIf="form.get('direccion')?.hasError('maxlength')">
          No debe exceder los 100 caracteres.
        </mat-error>
        <mat-error *ngIf="form.get('direccion')?.hasError('pattern')">
          No se permiten solo espacios.
        </mat-error>
      </mat-form-field>
      <br/>

      <!-- Teléfono -->
      <mat-form-field>
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="telefono" />
        <mat-error *ngIf="form.get('telefono')?.hasError('required')">
          El teléfono es obligatorio.
        </mat-error>
        <mat-error *ngIf="form.get('telefono')?.hasError('pattern')">
          El teléfono debe tener exactamente 9 dígitos numéricos.
        </mat-error>
      </mat-form-field>
      <br/>

      <!-- Hora apertura -->
      <mat-form-field>
        <mat-label>Horario de Apertura</mat-label>
        <input matInput formControlName="horaa" type="time" />
        <mat-error *ngIf="form.get('horaa')?.hasError('required')">
          El horario de apertura es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br/>

      <!-- Hora cierre -->
      <mat-form-field>
        <mat-label>Horario de Cierre</mat-label>
        <input matInput formControlName="horac" type="time" />
        <mat-error *ngIf="form.get('horac')?.hasError('required')">
          El horario de cierre es obligatorio!!
        </mat-error>
        <mat-error *ngIf="form.hasError('horaInvalida')">
          El horario de cierre no puede ser menor o igual al de apertura.
        </mat-error>
      </mat-form-field>
      <br/>

      <!-- Longitud -->
      <mat-form-field>
        <mat-label>Longitud</mat-label>
        <input matInput formControlName="longitud" />
        <mat-error *ngIf="form.get('longitud')?.hasError('required')">
          La longitud es obligatoria!!
        </mat-error>
        <mat-error *ngIf="form.get('longitud')?.hasError('pattern')">
          Solo se permiten números entre -180 y 180 con punto decimal opcional.
        </mat-error>
        <mat-error *ngIf="form.get('longitud')?.hasError('min') || form.get('longitud')?.hasError('max')">
          El valor debe estar entre -180 y 180.
        </mat-error>
      </mat-form-field>
      <br/>

      <!-- Latitud -->
      <mat-form-field>
        <mat-label>Latitud</mat-label>
        <input matInput formControlName="latitud" />
        <mat-error *ngIf="form.get('latitud')?.hasError('required')">
          La latitud es obligatoria!!
        </mat-error>
        <mat-error *ngIf="form.get('latitud')?.hasError('pattern')">
          Solo se permiten números entre -90 y 90 con punto decimal opcional.
        </mat-error>
        <mat-error *ngIf="form.get('latitud')?.hasError('min') || form.get('latitud')?.hasError('max')">
          El valor debe estar entre -90 y 90.
        </mat-error>
      </mat-form-field>

      <br />
      <button matButton="elevated">{{ edicion ? 'Actualizar' : 'Registrar' }}</button>
    </form>
  </div>
</div>
