<div class="container">
  <div style="text-align: center; margin: 5%;">
    <h1>{{ edicion ? 'Editar Medicamento' : 'Registrar Medicamento' }}</h1>
  </div>
  <div style="text-align: center; margin: 5%;">
    <form [formGroup]="form" (ngSubmit)="aceptar()">
      <!-- ID Column -->
      <mat-form-field *ngIf="edicion">
        <mat-label>ID del Medicamento</mat-label>
        <input matInput formControlName="codigo" />
        <mat-error *ngIf="form.get('codigo')?.hasError('required')">
          El ID es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br/>
      <!-- Nombre Column -->
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" />
        <mat-error *ngIf="form.get('nombre')?.hasError('required')">
          El nombre del medicamento es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br/>
      <!-- Descripción Column -->
      <mat-form-field>
        <mat-label>Descripción</mat-label>
         <textarea matInput formControlName="descripcion"></textarea>
        <mat-error *ngIf="form.get('descripcion')?.hasError('required')">
          La descripción es obligatoria!!
        </mat-error>
      </mat-form-field>
      <br/>
      <!-- Dosis Column -->
      <mat-form-field>
        <mat-label>Dosis</mat-label>
        <input matInput formControlName="dosis" type="number" />
        <mat-error *ngIf="form.get('dosis')?.hasError('required')">
          La dosis es obligatoria!!
        </mat-error>
      </mat-form-field>
      <br/>
      <!-- Unidad de Medida Column -->
       <mat-form-field>
        <mat-label>Selecciona la unidad de medida: </mat-label>
        <mat-select formControlName="unidad">
          @for (us of unidades; track us) {
          <mat-option [value]="us.value">{{ us.viewValue }}</mat-option> }
        </mat-select>
        <mat-error *ngIf="form.get('unidad')?.hasError('required')">
          La unidad de medida es obligatoria!!
        </mat-error>
      </mat-form-field>
      <br/>
      <!-- Tipo de Medicamento Column -->
      <mat-form-field>
        <mat-label>Selecciona un tipo de medicamento: </mat-label>
        <mat-select formControlName="tipo">
          @for (us of tipos; track us) {
          <mat-option [value]="us.value">{{ us.viewValue }}</mat-option> }
        </mat-select>
        <mat-error *ngIf="form.get('tipo')?.hasError('required')">
          El tipo de medicamento es obligatorio!!
        </mat-error>
      </mat-form-field>

      <br/>
      <!-- Presentación Column -->
             <mat-form-field>
        <mat-label>Selecciona una presentación de medicamento: </mat-label>
        <mat-select formControlName="presentacion">
          @for (pres of presentaciones; track pres) {
          <mat-option [value]="pres.value">{{ pres.viewValue }}</mat-option> }
        </mat-select>
        <mat-error *ngIf="form.get('presentacion')?.hasError('required')">
          La presentación es obligatoria!!
        </mat-error>
      </mat-form-field>
      
      <br/>
      <!-- Contenido Column -->
      <mat-form-field>
        <mat-label>Contenido</mat-label>
        <input matInput formControlName="contenido" type="number" />
        <mat-error *ngIf="form.get('contenido')?.hasError('required')">
          El contenido es obligatorio!!
        </mat-error>
      </mat-form-field>

      <br />
      <button matButton="elevated">{{ edicion ? 'Actualizar' : 'Registrar' }}</button>
    </form>
  </div>
</div>

