<mat-card>
  <mat-card-header>
    <mat-card-title>Reporte de Notificaciones según su estado</mat-card-title>
  </mat-card-header>

  <div style="text-align: center; margin: 5%;">
    <h1>Notificaciones según su estado</h1>
    <p>Este reporte muestra la cantidad de notificaciones cumplidas y no cumplidas para elaborar un gráficos de pastel
      que permite visualizar la efectividad de las notificaciones enviadas. Esto es útil para evaluar el rendimiento
      del sistema de notificaciones y tomar decisiones informadas sobre posibles opciones de mejora o alternativas diferentes para la comunicación de las notificaciones con los usuarios.
      Puedes exportar este reporte a PDF para su impresión o almacenamiento.
    </p>
  </div>

  <mat-card-content>
    <div id="chart-container" style="display: flex; justify-content: center; padding: 20px;">
      <canvas baseChart
              [data]="pieChartData"
              [type]="pieChartType"
              [options]="pieChartOptions">
      </canvas>
    </div>

    <div style="display: flex; justify-content: center; margin-top: 10px;">
      <button mat-raised-button color="primary" (click)="exportToPDF()">
        Exportar a PDF
      </button>
    </div>
  </mat-card-content>
</mat-card>



