.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 16px;
  margin-top: 24px;
}

.diagnostico-card {
  max-width: 100%;
}

/* Contenedor general centrado */
div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Título estilizado */
div > h1 {
  font-family: 'Segoe UI', sans-serif;
  font-size: 28px;
  color: #8CBA2F; /* verde oliva */
  margin-bottom: 20px;
  text-align: center;
}

/* Tabla */
table.mat-elevation-z8 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  border-collapse: collapse;
  background-color: #F7F7F7;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

/* Encabezados */
th.mat-header-cell {
  background-color: #8CBA2F;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 12px;
  text-align: center;
}

/* Celdas */
td.mat-cell {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  color: #333;
}

/* Efecto hover */
tr.mat-row:hover {
  background-color: #FFBA5C33; /* suave amarillo melón */
}

/* Botones */
button[matButton] {
  background-color: #8CBA2F;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button[matButton]:hover {
  background-color: #000000;
  transform: scale(1.05);
}

button[matButton] mat-icon {
  color: white;
}
