<div class="container">
  <div style="text-align: center; margin: 5%;">
    <h1>Registrar Medicamento de Farmacia</h1>
  </div>

  <div style="margin: 0 auto; max-width: 600px;">
    <form [formGroup]="form" (ngSubmit)="aceptar()">
      <mat-form-field class="full-width">
        <mat-label>Cantidad</mat-label>
        <input matInput type="number" formControlName="cantidadMedicamentoFarmacia" />
        <mat-error *ngIf="form.get('cantidadMedicamentoFarmacia')?.hasError('required')">
          La cantidad es obligatoria.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Tipo de venta</mat-label>
        <input matInput formControlName="tipoVentaMedicamentoFarmacia" />
        <mat-error *ngIf="form.get('tipoVentaMedicamentoFarmacia')?.hasError('required')">
          El tipo de venta es obligatorio.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Laboratorio</mat-label>
        <input matInput formControlName="laboratorioMedicamentoFarmacia" />
        <mat-error *ngIf="form.get('laboratorioMedicamentoFarmacia')?.hasError('required')">
          El laboratorio es obligatorio.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Precio</mat-label>
        <input matInput type="number" formControlName="precioMedicamentoFarmacia" />
        <mat-error *ngIf="form.get('precioMedicamentoFarmacia')?.hasError('required')">
          El precio es obligatorio.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Medicamento</mat-label>
        <mat-select formControlName="medicamento">
          <mat-option *ngFor="let med of listaMedicamentos" [value]="med.id_medicamento">
            {{ med.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Farmacia</mat-label>
        <mat-select formControlName="farmacia">
          <mat-option *ngFor="let farm of listaFarmacias" [value]="farm.idFarmacia">
            {{ farm.nombreFarmacia }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div style="text-align: center; margin-top: 20px;">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
          Registrar
        </button>
      </div>
    </form>
  </div>
</div>
