<div class="container">
  <div style="text-align: center; margin: 5%">
    <h1>Lista de Medicamentos con gravedad <strong>Alta</strong></h1>

    <p>Total de resultados: {{ totalRegistros }}</p>
  </div>

  <form [formGroup]="filtroForm">
    <div class="filtros" style="display: flex; gap: 1rem; margin-bottom: 1rem">
      <!-- Usuario -->
      <mat-form-field style="flex: 1" appearance="fill">
        <mat-label>Filtrar por Usuario</mat-label>
        <mat-select formControlName="usuarioId">
          <mat-option
            *ngFor="let usuario of listaUsuarios"
            [value]="usuario.idUsuario"
          >
            {{ usuario.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>

  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Symbol Column -->
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef>Nombre del medicamento</th>
        <td mat-cell *matCellDef="let element">
          {{ element.nombreMedicamento }}
        </td>
      </ng-container>

      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef>Tipo del medicamento</th>
        <td mat-cell *matCellDef="let element">
          {{ element.tipoMedicamento }}
        </td>
      </ng-container>

      <!-- Descripción Column -->
      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef>Diagnóstico</th>
        <td mat-cell *matCellDef="let element">
          {{ element.nombreDiagnostico }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [length]="totalRegistros"
      [pageSize]="4"
      [pageSizeOptions]="[4, 8, 10]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
