.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-top: 20px;
  padding: 0 16px;
}

mat-card {
  width: 100%;
  max-width: 320px;
  flex: 1 1 300px;
}