.custom-toolbar {
  background-color: rgb(14, 134, 155);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.left-side {
  display: flex;
  align-items: center;
}

.left-side .logo {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.left-side .logo-text {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.right-side {
  display: flex;
  justify-content: flex-end;
}

.btn-rojo {
  background-color: rgb(14, 134, 155);
  border-radius: 4px;
  margin: 4px;
  border: none;
}

.btn-rojo mat-icon {
  color: white;
}

.custom-toolbar button,
.custom-toolbar mat-icon {
  color: white;
}
