<header class="header">
  <div class="header-left">
    <button (click)="sidenav.toggle()" class="menu-button">☰</button>
    <span class="header-title">PILLCONTROL</span>
  </div>

  <div class="header-right">
    <button class="user-button">
      <mat-icon>account_circle</mat-icon>
      Usuario
    </button>
  </div>
</header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      <!-- Farmacias -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>store_mall_directory</mat-icon> Farmacias
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/farmacias">
          <mat-icon>library_books</mat-icon> Listar Farmacias
        </a>
        <a mat-list-item routerLink="/farmacias/nuevo">
          <mat-icon>add_to_photos</mat-icon> Registrar Farmacia
        </a>
      </mat-expansion-panel>
      <!-- Medicamentos Farmacia -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>store</mat-icon> Medicamentos Farmacia
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/medicamentosfarmacia">
          <mat-icon>library_books</mat-icon> Listar
        </a>
        <a mat-list-item routerLink="/medicamentosfarmacia/nuevo">
          <mat-icon>add_to_photos</mat-icon> Registrar
        </a>
      </mat-expansion-panel>

      <!-- Especialistas -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            ><mat-icon>record_voice_over</mat-icon>
            Especialistas</mat-panel-title
          >
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/especialistas"
          ><mat-icon>library_books</mat-icon> Listar</a
        >
        <a mat-list-item routerLink="/especialistas/nuevo"
          ><mat-icon>add_to_photos</mat-icon> Registrar</a
        >
      </mat-expansion-panel>

      <!-- Medicamentos -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            ><mat-icon>local_hospital</mat-icon> Medicamentos</mat-panel-title
          >
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/medicamentos"
          ><mat-icon>library_books</mat-icon> Listar</a
        >
        <a mat-list-item routerLink="/medicamentos/nuevo"
          ><mat-icon>add_to_photos</mat-icon> Registrar</a
        >
      </mat-expansion-panel>
      <!-- Usuarios -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            ><mat-icon>person</mat-icon> Usuarios</mat-panel-title
          >
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/usuarios"
          ><mat-icon>library_books</mat-icon> Listar</a
        >
        <a mat-list-item routerLink="/usuarios/nuevo"
          ><mat-icon>add_to_photos</mat-icon> Registrar</a
        >
      </mat-expansion-panel>

      <!-- Roles de Usuario -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            ><mat-icon>poll</mat-icon> Roles de Usuario</mat-panel-title
          >
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/roles"
          ><mat-icon>library_books</mat-icon> Listar</a
        >
        <a mat-list-item routerLink="/roles/nuevo"
          ><mat-icon>add_to_photos</mat-icon> Registrar</a
        >
      </mat-expansion-panel>

      <!-- Perfiles Salud -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            ><mat-icon>contacts</mat-icon> Perfiles Salud</mat-panel-title
          >
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/perfilessalud"
          ><mat-icon>library_books</mat-icon> Listar</a
        >
        <a mat-list-item routerLink="/perfilessalud/nuevo"
          ><mat-icon>add_to_photos</mat-icon> Registrar</a
        >
      </mat-expansion-panel>
      <!-- Contactos de Emergencia -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            ><mat-icon>contact_phone</mat-icon> Contactos
            Emergencia</mat-panel-title
          >
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/contactosemergencia"
          ><mat-icon>library_books</mat-icon> Listar</a
        >
        <a mat-list-item routerLink="/contactosemergencia/nuevo"
          ><mat-icon>add_to_photos</mat-icon> Registrar</a
        >
      </mat-expansion-panel>
      <!-- Tratamientos -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            ><mat-icon>medical_services</mat-icon> Tratamientos</mat-panel-title
          >
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/tratamientos"
          ><mat-icon>library_books</mat-icon> Listar</a
        >
        <a mat-list-item routerLink="/tratamientos/nuevo"
          ><mat-icon>add_to_photos</mat-icon> Registrar</a
        >
      </mat-expansion-panel>
      <!-- Diagnósticos -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            ><mat-icon>list_alt</mat-icon> Diagnósticos</mat-panel-title
          >
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/diagnosticos"
          ><mat-icon>library_books</mat-icon> Listar</a
        >
        <a mat-list-item routerLink="/diagnosticos/nuevo"
          ><mat-icon>add_to_photos</mat-icon> Registrar</a
        >
      </mat-expansion-panel>
      <!-- Recetas -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            ><mat-icon>receipt_long</mat-icon> Recetas</mat-panel-title
          >
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/recetas"
          ><mat-icon>library_books</mat-icon> Listar</a
        >
        <a mat-list-item routerLink="/recetas/nuevo"
          ><mat-icon>add_to_photos</mat-icon> Registrar</a
        >
      </mat-expansion-panel>
      <!-- Reportes -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            ><mat-icon> notifications</mat-icon> Reportes</mat-panel-title
          >
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/reportes"
          ><mat-icon>library_books</mat-icon> Reporte de IMC</a
        >
        <a mat-list-item routerLink="/reportes/reportepacientesenriesgo"
          ><mat-icon>add_to_photos</mat-icon> Reporte de Pacientes en Riesgo</a
        >
        <a mat-list-item routerLink="/reportes/recetas-vencidas"
          ><mat-icon>warning</mat-icon> Reporte de Recetas Vencidas</a
        >
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
